#container {
	display: flex;
    flex-direction: column;
    justify-content: center;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: black;
	opacity: 1;
	width: 100%;
	padding: 0;
	background-color: #000;

	button:disabled {
		opacity: 0.3 !important;
	}
}

.samples {
	> img, > video {
		width: 1000px;
		height: 800px;
		object-fit: contain;
	}
}

#left, #right {
	width: 40px; height: 40px;
	padding: 30px;
}

.close {
	background-image: url('../../assets/close/close-gray-nofill.svg');
	position: absolute;
	top: 0;
    background-size: 30px 30px;
    width: 30px; height: 30px;
    margin: 15px;
    z-index: 1;
}