.outer-container {
	width: 100vw;
}

.about-me {
	width: 60vw;
	margin: auto;
	padding: 10vh 0;
	text-align: center;

	.g-title {
		margin-bottom: 35px;
	}

	.story {
		text-align: left;
	}

	.summary, .story {
		font-size: 22px;
	    line-height: 30px;
	}
}

@media screen and (max-width: 480px) {
	.about-me {
	    width: 70vw;
	}

	.summary, .story {
		font-size: 16px !important;
	}
}