<div class="outer-container g-border-bot">
	<div class="about-me">
		<div class="g-title">My Story</div>
		<p class="summary">
		TL;DR
		I started out as a baker and through drive and focus became a software engineer.
		</p>

		<p class="story">
		I vividly remember the day I started my journey to a new career path. I was mixing cookie dough one day and I thought about how unhappy I was with my career. I knew I needed a change. I was curious about coding, so I decided to give it a try. I took online courses and discovered how much I love coding. It was everything that was missing. Programming incorporates some of the things that led me to pursue baking: the troubleshooting/problem-solving and creativity. But the biggest thing that baking was lacking that programming offers, is the infinite possibility to learn.
		</p>
	</div>
</div>
