.hero-container {
	display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
	text-align: center;
	background: aliceblue;

	.header {
		font-size: 8vh;
	}

	.subheader {
		font-size: 4vh;
	}
}

@media only screen and (max-width: 400px) and (max-height: 500px){
	.header {
		font-size: 48px !important;
	}

	.subheader {
		font-size: 24px !important;
	}
}

@media only screen and (max-height: 500px){
	.header {
		font-size: 48px !important;
	}

	.subheader {
		font-size: 24px !important;
	}
}

@media only screen and (max-height: 500px){
	.hero-container {
		height: 300px;
	}
}