.hero-container {
	display: flex;
    height: 75vh;
    flex-direction: column;
    justify-content: center;
	text-align: center;

	.header {
		font-size: 8vh;
	}

	.subheader {
		font-size: 4vh;
	}

	.contact-container {
		margin-top: 4vh

		::ng-deep a.social {
			margin: 0 0.5vh;
			background-size: 5vh 5vh;
			width: 5vh; height: 5vh;
		}
	}
}

@media only screen and (max-width: 411px){
	.subheader {
		font-size: 22px !important;
	}
}

@media only screen and (min-width: 412px) and (max-width: 480px){
	.header {
		font-size: 48px !important;
	}

	.subheader {
		font-size: 24px !important;
	}
}

@media only screen and (max-height: 630px){
	.hero-container {
		height: 480px;
	}

	.header {
		font-size: 48px !important;
	}

	.subheader {
		font-size: 24px !important;
	}
}

@media only screen and (max-height: 700px){
	.contact-container {
		::ng-deep a.social {
			background-size: 28px 28px !important; 
			width: 28px !important; height: 28px !important;
		}
	}	
}

@media only screen and (max-width: 400px) and (min-height: 900px){
	.contact-container {
		::ng-deep a.social {
			background-size: 36px 36px !important; 
			width: 36px !important; height: 36px !important;
		}
	}	
}