/**
 * app variables
 */
$app-bg-color: #FFFFFF;

/**
 * app styles
 */
.nav-bar {
	padding: 15px 0;
    font-size: 22px;
	text-align: center;
	background-color: $app-bg-color;
	white-space: nowrap;

	.tab {
		padding: 0 2vh;
    	opacity: 0.6;
    	cursor: pointer;
	}

	.tab:hover {
		opacity: 1;
	}
}

.footer {
    display: flex;
	height: 120px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
	background-color: $app-bg-color;

	::ng-deep {
		.social {
		    margin: 0 0.5vh;
		}
	}

	.copyright {
		padding: 12px 0;
	}
}

@media screen and (max-height: 500px) {
	.nav-bar {
		font-size: 16px;

		.tab {
			padding: 0 10px;
		}		
	}
}

@media screen and (max-width: 480px) {
	.nav-bar {
		font-size: 16px;

		.tab {
			padding: 0 10px;
		}		
	}	
}

