/**
 * app-sample-work variables
 */
$app-sample-work-grid-height: 200px;

/**
 * app-sample-work styles
 */
.outer-container {
	width: 100vw;
}

.samples-container {
    width: 80vw;
    margin: auto;
    padding: 10vh 0;
    text-align: center;	

    .title {
    	margin-bottom: 50px;
    	font-size: 36px;
    }
}

.samples {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, $app-sample-work-grid-height);

	> img, > video {
		width: 100%;  min-height: $app-sample-work-grid-height; height: 100%;
		object-fit: fill;
	}
}