<div class="outer-container g-border-bot">
	<div class="samples-container">
		<div class="g-title">Featured Work</div>

		<div class="samples desktop" *ngIf="!mobile" >
			<ng-container *ngFor="let sample of samples">
				<img *ngIf="sample.type === 'image'" ng-box [group]="groupName" [src]="sample.src" [title]="sample.title" alt="{{ sample.title }}">
				<video *ngIf="sample.type === 'video'" poster="{{ sample.poster }}" controlsList="nodownload" ng-box [group]="groupName"[src]="sample.src" [title]="sample.title">Your browser does not support the video tag.</video>
			</ng-container>
		</div>

		<div class="samples mobile" *ngIf="mobile">
			<ng-container *ngFor="let sample of samples">
				<img *ngIf="sample.type === 'image'" src="{{ sample.src }}" alt="{{ sample.title }}">
				<video *ngIf="sample.type === 'video'" poster="{{ sample.poster }}" controls controlsList="nodownload" src="{{ sample.src }}">Your device does not support the video tag.</video>
			</ng-container>
		</div>
	</div>
</div>
