/**
 * sample-work variables
 */
$sample-work-grid-height: 200px;

/**
 * sample-work styles
 */
.outer-container {
	width: 100vw;
}

.samples-container {
    width: 80vw;
    margin: auto;
    padding: 10vh 0;
    text-align: center;	

    .g-title {
    	margin-bottom: 50px;
    }
}

.samples {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(2, $sample-work-grid-height);

	> img, > video {
		width: 100%; height: $sample-work-grid-height;
		object-fit: cover;
		cursor: pointer;
	}
}