/**
 * Global style variables
 */
$global-background-color: #F1F1F1FF;
$global-font-color: #292929;
$global-header-container-bg-color: aliceblue;

/**
 * Global styles
 */
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: $global-background-color;
	color: $global-font-color;
}

.github {
	background-image: url('/assets/icons/github.svg');
	background-repeat: no-repeat;
    background-size: 25px 25px;
    width: 25px; height: 25px;
}

.linkedin {
	background-image: url('/assets/icons/linkedin-black.svg');
	background-repeat: no-repeat;	
    background-size: 25px 25px;
    width: 25px; height: 25px;
}

.email {
	background-image: url('/assets/icons/envelope.svg');
	background-repeat: no-repeat;	
    background-size: 25px 25px;
    width: 25px; height: 25px;
}

button:disabled {
	opacity: 0.2;
}

.g-border-bot {
	border-bottom: 1px solid white;
}

.nav-bar, .hero-container {
	background-color: $global-header-container-bg-color;
}

.g-title {
	font-size: 36px;
}

@media screen and (max-height: 512px) {
	.g-title {
		font-size: 27px !important;
	}
}

@media screen and (max-width: 480px) {
	.g-title {
		font-size: 27px !important;
	}
}