/* You can add global styles to this file, and also import other style files */
body {
	font-family: 'Roboto', sans-serif;
}

.github {
	background-image: url('/assets/icons/github.svg');
	background-size: 20px 20px;
	width: 20px; height: 20px;
}

.linkedin {
	background-image: url('/assets/icons/linkedin.svg');
	background-size: 20px 20px;
	width: 20px; height: 20px;
}

button:disabled {
	opacity: 0.2;
}