/**
 * Global style variables
 */
$global-background-color: #F1F1F1FF;
$global-font-color: #292929;

/**
 * Global styles
 */
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: $global-background-color;
	color: $global-font-color;
}

.github {
	background-image: url('/assets/icons/github.svg');
	background-repeat: no-repeat;
	background-size: 20px 20px;
	width: 20px; height: 20px;
}

.linkedin {
	background-image: url('/assets/icons/linkedin-black.svg');
	background-repeat: no-repeat;	
	background-size: 20px 20px;
	width: 20px; height: 20px;
}

button:disabled {
	opacity: 0.2;
}

.g-border-bot {
	border-bottom: 1px solid white;
}